**/index.php
.phpintel
!README.md

application/cache
application/config/*
!application/config/hooks.php
!application/config/gettext.php
application/controllers/*
!application/controllers/Process.php
!application/controllers/Welcome.php
!application/core/MY_Controller.php
!application/core/README.md
application/helpers
application/hooks/*
!application/hooks/gettext/*
application/language/index.php
!application/language/*
application/libraries
application/logs
application/models
application/modules
application/third_party
application/views/*
!application/views/welcome_message.php
application/**/.htaccess
application/**/index.html

system/*
!system/language
